header,nav{
  z-index: 100001 !important;
}

/* Add this to your App.css or any global stylesheet */
.dashboard-container {
  background-color: #f8f9fa;
  padding: 20px;
}

.dashboard-container h1,
.dashboard-container h2 {
  color: #333;
}

.dashboard-container p {
  color: #666;
}

.dashboard-container .shadow-md {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
